body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4 {
  margin: 10px 0;
  font-family: 'Exo 2', sans-serif;
}
h1 {
  font-size: 3rem;
  font-weight: 700;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.2rem;
}
.subtitle {
  font-size: 1rem;
  font-weight: 300;
  color: grey;
}
p {
  line-height: 1.5rem;
}
a {
  color: black;
}
ul, li {
  padding: 0.2rem 0;
}
ol {
  list-style: decimal inside;
}
.bold {
  font-weight: bold;
}

.container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 1rem;
}
.twitter >a {
  text-decoration: none;
}
.twitter >a:visited {
  color: black;
}
.section-margin-top {
  margin-top: 2rem;
}
.section-margin-top-small {
  margin-top: 1rem;
}
.show-list-style {
  list-style: disc inside;
}
.show-list-style.nested-list {
  list-style: circle inside;
}
.nested-list {
  padding-left: 1rem;
}


/* header */
header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid black;
}
header >.brand {
  font-family: 'Exo 2', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
}
header >.twitter {
  display: none;
}
header >.links {
  display: none;
  justify-content: flex-end;
}
header >.links >.header-link {
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

/* when screen is wide enough */
@media (min-width: 768px) {
  /* resize headers */
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  .subtitle {
    font-size: 1.2rem;
  }
  header >.brand {
    font-size: 3rem;
  }

  /* unhide twitter and header links */
  header >.twitter, header >.links {
    display: flex;
  }
}
